@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<address>
    <p> Contato: <a href="otavio.atr@gmail.com">E-mail de contato</a></p>
</address>

