@{
    ViewData["Title"] = "About";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-info-sign"></span> About
        </h3>
    </div>
    <div class="panel-body">
        <h4>@ViewData["Message"]</h4>
        <p>Sales management web application built with ASP.NET Core MVC and Entity Framework Core.</p>
        <address>
            <strong>Contact:</strong> <a href="mailto:otavio.atr@gmail.com">otavio.atr@gmail.com</a>
        </address>
    </div>
</div>

