@{
    ViewData["Title"] = "Contact";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-envelope"></span> Contact
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled" style="line-height: 2.2;">
            <li>
                <span class="glyphicon glyphicon-globe" style="margin-right: 8px;"></span>
                <strong>Website:</strong>
                <a href="https://otaviorockenbach.com.br" target="_blank">otaviorockenbach.com.br</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-user" style="margin-right: 8px;"></span>
                <strong>GitHub:</strong>
                <a href="https://github.com/otaviotnk" target="_blank">github.com/otaviotnk</a>
            </li>
            <li>
                <span class="glyphicon glyphicon-pencil" style="margin-right: 8px;"></span>
                <strong>Medium:</strong>
                <a href="https://medium.com/@@otavio.atr" target="_blank">medium.com/@@otavio.atr</a>
            </li>
        </ul>
    </div>
</div>
