@{
    ViewData["Title"] = "Sales Records";
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-shopping-cart"></span> Sales Records
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-search"></span> Simple Search
                        </h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" asp-action="SimpleSearch">
                            <div class="form-group">
                                <label for="minDate" class="col-sm-3 control-label">Min Date</label>
                                <div class="col-sm-9">
                                    <input type="date" name="minDate" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="maxDate" class="col-sm-3 control-label">Max Date</label>
                                <div class="col-sm-9">
                                    <input type="date" name="maxDate" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <span class="glyphicon glyphicon-th-list"></span> Grouping Search
                        </h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" asp-action="GroupingSearch">
                            <div class="form-group">
                                <label for="minDate" class="col-sm-3 control-label">Min Date</label>
                                <div class="col-sm-9">
                                    <input type="date" name="minDate" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="maxDate" class="col-sm-3 control-label">Max Date</label>
                                <div class="col-sm-9">
                                    <input type="date" name="maxDate" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-search"></span> Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>